.soldout {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.soldout {
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
  font-family: roboto condensed;
  color: #131110;
  background-color: grey;
  text-align: center;
  margin: 0;
  padding: 10px;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productlinks.disabled {
  pointer-events: none;
  color: gray;
  cursor: not-allowed;
}

.brandname {
  font-family: roboto condensed;
  font-size: 20px;
}

.skjul {
  display: none;
}
